{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %} <!--Goes through all messages flashed-->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% if name %}
    <h1>Hello {{name}}!!</h1>
    <br/>
{% else %}
    <h1>Add Blog Post</h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }} <!-- This makes a form. The POST is to indicate that this is something to submit-->
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }} <!--Creates the box and submit button below-->
        {{ form.author.label(class="form-label") }}
        {{ form.author(class="form-control") }}
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }} 
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control",rows="5") }} 
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
<br/><br/><br/>
<h1>Users that have signed up</h1>
{% for x in our_users %}
    {{ x.id }}. <a href="{{ url_for('update', id=x.id) }}">{{ x.name }}</a> - {{ x.email }} - {{ x.favorite_food }} - {{ x.password_hash }}<br/>
{% endfor %}
{% endif %}
{% endblock %}